name: nectargan

services:
  app:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    volumes:
      - ./docker/mount:/app/mount:rw
    ports:
      - "8000:8000"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    restart: unless-stopped
    command: ["tail", "-f", "/dev/null"]