name: nectargan

services:
  visdom:
    image: nectargan-visdom:latest
    hostname: visdom
    build:
      context: .
      dockerfile: ./visdom/Dockerfile
      args: 
        HOST_NAME: "${VISDOM_HOST:-127.0.0.1}"
        EXPOSE_PORT: "${VISDOM_PORT:-8000}"
    ports: 
      - "${VISDOM_PORT:-8000}:${VISDOM_PORT:-8000}"
    volumes:
      - visdom-data:/root/.visdom

  app:
    image: nectargan-app:latest
    build:
      context: ..
      dockerfile: docker/Dockerfile
      args:
        TORCH_TYPE: cpu
    depends_on: 
      - visdom
    volumes:
      - ./mount:/app/mount:rw
      - ./scripts:/app/scripts:rw
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    restart: unless-stopped
    stdin_open: true
    tty: true
    command: ["python", "/app/scripts/welcome.py"]

volumes:
  visdom-data: {}