name: nectargan

services:
  app:
    image: nectargan-app:latest
    build:
      context: ..
      dockerfile: docker/Dockerfile
      args:
        TORCH_TYPE: cpu
    volumes:
      - ./mount:/app/mount:rw
      - ./resources:/app/resources:ro
    ports:
      - "8000:8000"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    restart: unless-stopped
    stdin_open: true
    tty: true
    command: ["python", "/app/resources/start.py"]